.home-step-box{
	height: 200vh;
	margin-top: 150px;
	margin-left: 5%;
	margin-bottom: 100px;
}
.home-step-line{
	padding-bottom: 50px;
}
.step-text{
	padding-left: 100px;
	font-size: 18px;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.8;
}
.comp-intro{
	padding-top: 120px;
	margin-left: 12%;
	font-size: 22px;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.8;
	margin-right: 20%;

}
.comp-intro-title{
	margin-bottom: 23px;
	font-weight: 300;
}
.comp-pslider-box{
	height:auto;
	width:100vw;
	background-color: #ffca5e;
}
.comp-pslider-title{
	position: sticky;
	top:300px;
	font-size: 19px;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.8;
}
.comp-pslider-title-h{
	margin-bottom: 20px;
	font-size: 26px;
}
.fullbackground-box{
	height: 300vh;
	width: 100%;
	background-color: white;
	background-image: url("gambarbesartengah.png");
	background-repeat: no-repeat;
	background-position: 0 380px;
	color: black;
	font-family: 'Montserrat', sans-serif;
}
.text-info-box{
	padding-top: 150px;
	margin-right: 45%;
	margin-left: 10%;
}
.head-text-info{
	font-size: 50px;
	font-weight: 200;
	margin-bottom: 40px;
}
.text-info{
	font-size: 25px;
	line-height: 2;
	font-weight: 200; 
}
.img-subcontent-box{
	margin-top: 80px;
	margin-bottom: 80px !important;
}